{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'submissions/static/styles.css' %}">
</head>
<html>
    <header>
        {% include 'partials/nav.html' %}
    </header>
  <h1>My Submissions</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date Submitted</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for submission in submissions %}
        <tr>
          <td>{{ submission.article_name }}</td>
          <td>{{ submission.date_submitted }}</td>
          <td>{{ submission.status }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No submissions found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</html>
{% endblock %}