
{% load static %}

<!DOCTYPE html>

 <!--Page for reviewer to write comments on an article-->

<html>
<head>
    <title>Write Review Comments</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    {% block content %}
    <header>
        {% include 'partials/nav.html' %}
    </header>
        <h1>Write Review Comments</h1>
        <form action="{% url 'write_review_comments' submission.id %}" method="POST">
            {% csrf_token %}
            <label for="comments">Comments:</label>
            <textarea name="comments" id="comments" rows="10" cols="50"></textarea>
            <br>
            <label for="status">Status:</label>
            <select name="status" id="status">
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
    {% endblock %}