<!-- Use forms.py to upload a file -->

{% block content %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'submissions/static/styles.css' %}">
    </head>

    <header>
        {% include 'partials/nav.html' %}
    </header>

    <h1>Submit an article</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="author_name">First Author's Name:</label>
        <input type="text" id="author_name" name="author_name" required>

        <br>

        <input type="checkbox" id="terms" name="terms" required>
        <label for="terms">I agree to the terms and conditions.</label>

        <br>

        <button type="submit">Submit</button>
        <br>
        <input type="file" name="myfile">

    </form>
</html>
{% endblock %}
